@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #000000;
    --secondary-color: #333333;
    --bg-black: #111111;
    --bg-dark: #1C1819;
    --bg-white: #fff;
    --bg-gray: #e5e5e5;

    --primary-text: #ffa913;
    --text-white: #fff;
    --text-black: #111111;

    --primary-font: 'Ubuntu', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

.fa,
.fas {
    font-weight: 900;
    COLOR: aliceblue;
}

body {
    font-family: var(--secondary-font);
    overflow-x: hidden;
}

#ji img {
    height: 7vh;
}

.slideUp {
    animation-name: slideUp;
    animation-name: slideUp;
    animation-duration: 1.5s;

    visibility: visible;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateX(70%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


.slideUp1 {
    animation-name: slideUp1;

    animation-duration: 1.5s;

    visibility: visible;
}

@keyframes slideUp1 {
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


a {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

section {
    padding: 100px 0;
    background-color: #d7a417fd;
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    padding: 10px 27px;
    border: 1px solid var(--primary-color);
    color:#000000;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: linear-gradient(to right, var(--primary-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
}

.main-btn:hover {
    color: var(--text-white);
    background-position: left bottom;
}

h1 {
    font-size: 80px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-black);
    margin-bottom: 20px;
    font-family: var(--primary-font);
}

h1 span {
    color: var(--primary-color);
}

h2 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    color: var(--text-black);
    font-family: var(--primary-font);
}

h3 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
    color: var(--text-black);
    font-family: var(--primary-font);
}

h5 {
    font-weight: 700;
    font-size: 20px;
    color: var(--primary-text);
}

p {
    color: var(--text-black);
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight: 300;
}

.navbar>.container {
    display: flex;
    flex-wrap: inherit;
    padding: 8px;
    text-align: center;
    justify-content: space-between;
}

.header_wrapper .navbar {
    padding: 5px 0px;
    -webkit-transition: all .2s linear;
    background: #000000d6 !important;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 50px;
    height: auto;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-white);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--primary-text);
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.about_wrapper {
    background-color: #715f29;
    padding-bottom: 130px;
}

.about_wrapper .card {
    z-index: 10;
    right: -25%;
    top: 30%;
}

.menu_wrapper {
    width: 100%;
    height: auto;
    background-image: url(mw1.jpg);
    background-repeat: no-repeat;

    /* background-position: 0% 50%; */
    background-size: cover;
    background-color: var(--bg-dark);
}

.menu_wrapper .row {
    padding-top: 400px;
}

.menu_wrapper .card {
    background-color: var(--secondary-color);
}

.menu_wrapper .card h3,
.menu_wrapper .card p {
    color: var(--text-white);
}

.menu_wrapper .card h3 span {
    background-color: var(--primary-color);
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 20px;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.nav {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.box {
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
}

.cart-count {
    position: absolute;
    background-color: #2f3542;
    top: -5px;
    right: 0;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    z-index: 99;
}

#cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 10px;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

h2.title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #000000;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
}

.food-box {
    position: relative;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    border-radius: 3px;
}

.pic {
    overflow: hidden;
}

.pic:hover img {
    transform: scale(1.5);
}

.food-img {
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.food-title {
    font-size: 1rem;
    font-weight: 600;
    color: #ff6348;
}

.food-price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #2ed573;
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
}

.add-cart:hover {
    background-color: rgba(255, 0, 0, 0.786);
}


.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    z-index: 100;
}

.cart-active {
    right: 0;
    transition: 0.5s;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(20, 20, 20, 0.1);
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.cart-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.price-box {
    display: flex;
    justify-content: space-between;
}

.cart-food-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ff6348;
    font-weight: 500;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    padding: 12px 20px;
    background-color: #2f3542;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

#cart-close {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}


.gallery_wrapper {
    width: 100%;
    height: auto;
    /* background-image: url('/img/bgsd.png'); */
    /* background-repeat: no-repeat; */

    /* background-size: cover; */
    background-color: var(--bg-dark);
}

.gallery_wrapper .row {
    padding-top: 400px;
}

.gallery_wrapper .card {
    background-color: var(--secondary-color);
}

.gallery_wrapper .card h3,
.gallery_wrapper .card p {
    color: var(--text-white);
}

.gallery_wrapper .card h3 span {
    background-color: var(--primary-color);
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 20px;
}




.footer_wrapper {
    background-color: #000000;
    padding: 20px 0;
}

.footer_wrapper .footer-logo img {
    width: 100px;
}

.footer_wrapper .social-icon li {
    margin: 6px;
}

.footer_wrapper .social-icon a {
    width: 35px;
    height: 35px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid var(--bg-black);
    color: var(--text-black);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-icon a:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.footer_wrapper .copyright-text p {
    font-size: 15px;
    line-height: 20px;
    color: white;
    font-weight: 800;
}

.footer_wrapper .copyright-text a {
    color: #ffab16;
}


@media (max-width: 1199px) {
    h1 {
        font-size: 65px;
    }
}

@media (max-width:991px) {


    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px;
    }

    .header_wrapper .navbar-brand img {
        max-width: 80px;
    }

    .header-scrolled {
        height: auto;
    }

    .header_wrapper .navbar-collapse {
        margin-top: -2px;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-white);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 15px;
    }

    .header_wrapper .navbar-brand img {
        max-width: 67px;
        height: auto;
    }

    .banner_wrapper {
        padding-top: 70px;
    }

    .banner_wrapper .top-menu .card {
        height: 200px;
    }

    .about_wrapper {
        padding-bottom: unset;
    }

    .about_wrapper .card {
        z-index: 10;
        right: unset;
        top: unset;
    }

}

@media (max-width: 767px) {

    h1 {
        font-size: 40px;
        line-height: 48px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    .menu_wrapper .row {
        padding-top: 70px;
    }

    .menu_wrapper .card h3 span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
    }
    .offers_wrapper .card .offer-text {
        width: 65%;
    }

    .carousel-caption {
        bottom: 0;
    }
    .header_wrapper .nav-item .nav-link {
        margin-top: 15px;
        color: black !important;
    }
    .review_wrapper .carousel-item {
        min-height: 460px;
    }
} 